<div class="settings-pane">

    <a href="" data-toggle="settings-pane" ng-click="settingsPaneToggle()">
        &times;
    </a>

    <div class="settings-pane-inner">

        <div class="row">

            <div class="col-md-4">

                <div class="user-info">

                    <div class="user-image">
                        <a href="extra-profile.html">
                            <img src="assets/images/user-2.png" class="img-responsive img-circle"/>
                        </a>
                    </div>

                    <div class="user-details">

                        <h3>
                            <a href="extra-profile.html">molice</a>

                            <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                            <span class="user-status is-online"></span>
                        </h3>

                        <p class="user-title">白帽子</p>

                        <div class="user-links">
                            <a href="extra-profile.html" class="btn btn-primary">编辑个人信息</a>
                            <!--<a href="extra-profile.html" class="btn btn-success">Upgrade</a>-->
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-8 link-blocks-env">

                <div class="links-block left-sep">
                    <h4>
                        <span>通知</span>
                    </h4>

                    <ul class="list-unstyled">
                        <li>
                            <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk1"/>
                            <label for="sp-chk1">社区福利</label>
                        </li>
                        <li>
                            <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk2"/>
                            <label for="sp-chk2">模型上新</label>
                        </li>
                        <li>
                            <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk3"/>
                            <label for="sp-chk3">积分变更</label>
                        </li>
                        <li>
                            <input type="checkbox" class="cbr cbr-primary" checked="checked" id="sp-chk4"/>
                            <label for="sp-chk4">系统消息</label>
                        </li>
                    </ul>
                </div>
                <div class="links-block left-sep">
                    <h4>
                        <a href="">
                            <span>API</span>
                        </a>
                    </h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                参数示意
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                python2
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                python3
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                php
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="links-block left-sep">
                    <h4>
                        <a href="">
                            <span>帮助</span>
                        </a>
                    </h4>

                    <ul class="list-unstyled">
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                样本相关
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                模型调用
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                积分相关
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-angle-right"></i>
                                其他
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>
