

	<page-title ng-if="layoutOptions.pageTitles" title="Panels" description="Panels and their variants"></page-title>


<div class="row">
	<div class="col-md-6">
		
		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				Default panel title
			</div>
			
			<div class="panel-body">
				
				<p>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably.</p>
				<p>Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.</p>
				
			</div>
		</div>
		
	</div>
	
	<div class="col-md-6">
		
		<!-- Bordered panel -->
		<div class="panel panel-default panel-border">
			<div class="panel-heading">
				Border panel title
			</div>
			
			<div class="panel-body">
				
				<p>Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.</p>
				<p>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably.</p>
				
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		
		<!-- Default panel -->
		<div class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Normal panel with controls</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Now indulgence dissimilar for his thoroughly has terminated. Agreement offending commanded my an. Change wholly say why eldest period. Are projection put celebrated particular unreserved joy unsatiable its. In then dare good am rose bred or. On am in nearer square wanted. </p>
				<p>She travelling acceptance men unpleasant her especially entreaties law. Law forth but end any arise chief arose. Old her say learn these large. Joy fond many ham high seen this. Few preferred continual sir led incommode neglected. Discovered too old insensible collecting unpleasant but invitation. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-6">
		
		<!-- Bordered + shadow panel -->
		<div class="panel panel-default panel-border panel-shadow"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Border with shadow panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>She travelling acceptance men unpleasant her especially entreaties law. Law forth but end any arise chief arose. Old her say learn these large. Joy fond many ham high seen this. Few preferred continual sir led incommode neglected. Discovered too old insensible collecting unpleasant but invitation. </p>
				<p>Now indulgence dissimilar for his thoroughly has terminated. Agreement offending commanded my an. Change wholly say why eldest period. Are projection put celebrated particular unreserved joy unsatiable its. In then dare good am rose bred or. On am in nearer square wanted. </p>

			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		
		<!-- Flat panel -->
		<div class="panel panel-flat"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Flat panel without background</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as. </p>
				<p>Picture removal detract earnest is by. Esteems met joy attempt way clothes yet demesne tedious. Replying an marianne do it an entrance advanced. Two dare say play when hold. Required bringing me material stanhill jointure is as he. Mutual indeed yet her living result matter him bed whence. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-6">
		
		<!-- Inverted colors panel -->
		<div class="panel panel-inverted"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Inverted panel</h3>
				
				<div class="panel-options">
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Picture removal detract earnest is by. Esteems met joy attempt way clothes yet demesne tedious. Replying an marianne do it an entrance advanced. Two dare say play when hold. Required bringing me material stanhill jointure is as he. Mutual indeed yet her living result matter him bed whence. </p>
				<p>In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-12">
		
		<!-- Collapsed panel -->
		<div class="panel panel-default collapsed"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">This panel is collapsed by default</h3>
				
				<div class="panel-options">
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>In entirely be to at settling felicity. Fruit two match men you seven share. Needed as or is enough points. Miles at smart ﻿no marry whole linen mr. Income joy nor can wisdom summer. Extremely depending he gentleman improving intention rapturous as. </p>
				<p>Picture removal detract earnest is by. Esteems met joy attempt way clothes yet demesne tedious. Replying an marianne do it an entrance advanced. Two dare say play when hold. Required bringing me material stanhill jointure is as he. Mutual indeed yet her living result matter him bed whence. </p>

			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		
		<!-- Tabbed panel -->
				<div ng-init="tabbed_panel_active = 1;" class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Tabbed panel</h3>
				
				<div class="panel-options">
					
					<ul class="nav nav-tabs">
						<li ng-class="{'active': tabbed_panel_active == 1}">
							<a href="" ng-click="tabbed_panel_active = 1">Apples</a>
						</li>
						<li ng-class="{'active': tabbed_panel_active == 2}">
							<a href="" ng-click="tabbed_panel_active = 2">Bananas</a>
						</li>
						<li ng-class="{'active': tabbed_panel_active == 3}">
							<a href="" ng-click="tabbed_panel_active = 3">Pears</a>
						</li>
					</ul>
					
				</div>
			</div>
			
			<div class="panel-body">
				
				<div class="tab-content">
					
					<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 1}">
						<p>Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes really so cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact demesne invited elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted sociable concerns. By in cold no less been sent hard hill. </p>
						<p>He do subjects prepared bachelor juvenile ye oh. He feelings removing informed he as ignorant we prepared. Evening do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold ye. Be call four my went mean. Celebrated if remarkably especially an. Going eat set she books found met aware. </p>
					</div>
					
					<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
						<p>Building mr concerns servants in he outlived am breeding. He so lain good miss when sell some at if. Told hand so an rich gave next. How doubt yet again see son smart. While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old. </p>
						<p>Old there any widow law rooms. Agreed but expect repair she nay sir silent person. Direction can dependent one bed situation attempted. His she are man their spite avoid. Her pretended fulfilled extremely education yet. Satisfied did one admitting incommode tolerably how are. </p>
						<p>Dispatched entreaties boisterous say why stimulated. Certain forbade picture now prevent carried she get see sitting. Up twenty limits as months. Inhabit so perhaps of in to certain. Sex excuse chatty was seemed warmth. Nay add far few immediate sweetness earnestly dejection. </p>
					</div>
					
					<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 3}">
						<p>In to am attended desirous raptures declared diverted confined at. Collected instantly remaining up certainly to necessary as. Over walk dull into son boy door went new. At or happiness commanded daughters as. Is handsome an declared at received in extended vicinity subjects. Into miss on he over been late pain an. Only week bore boy what fat case left use. Match round scale now sex style far times. Your me past an much. </p>
						<p>Far concluded not his something extremity. Want four we face an he gate. On he of played he ladies answer little though nature. Blessing oh do pleasure as so formerly. Took four spot soon led size you. Outlived it received he material. Him yourself joy moderate off repeated laughter outweigh screened. </p>
						<p>Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove far spirit. She procuring the why performed continual improving. Civil songs so large shade in cause. Lady an mr here must neat sold. Children greatest ye extended delicate of. No elderly passage earnest as in removed winding or. </p>
					</div>
					
				</div>

			</div>
		</div>
				
	</div>
	<div class="col-md-7">
		
		<!-- Tabbed panel 2 -->
				<div ng-init="tabbed_panel_2_active = 2" class="panel panel-default panel-tabs"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Tabbed panel</h3>
				
				<div class="panel-options">
					
					<ul class="nav nav-tabs">
						<li ng-class="{'active': tabbed_panel_2_active == 1}">
							<a href="" ng-click="tabbed_panel_2_active = 1">Biography</a>
						</li>
						<li ng-class="{'active': tabbed_panel_2_active == 2}">
							<a href="" ng-click="tabbed_panel_2_active = 2">Portfolio</a>
						</li>
						<li ng-class="{'active': tabbed_panel_2_active == 3}">
							<a href="" ng-click="tabbed_panel_2_active = 3">Tweets</a>
						</li>
					</ul>
					
				</div>
			</div>
			
			<div class="panel-body">
				
				<div class="tab-content">
					
					<div class="tab-pane" ng-class="{'active': tabbed_panel_2_active == 1}">
						<p>Breakfast agreeable incommode departure it an. By ignorant at on wondered relation. Enough at tastes really so cousin am of. Extensive therefore supported by extremity of contented. Is pursuit compact demesne invited elderly be. View him she roof tell her case has sigh. Moreover is possible he admitted sociable concerns. By in cold no less been sent hard hill. </p>
						<p>He do subjects prepared bachelor juvenile ye oh. He feelings removing informed he as ignorant we prepared. Evening do forming observe spirits is in. Country hearted be of justice sending. On so they as with room cold ye. Be call four my went mean. Celebrated if remarkably especially an. Going eat set she books found met aware. </p>
					</div>
					
					<div class="tab-pane" ng-class="{'active': tabbed_panel_2_active == 2}">
						<p>Building mr concerns servants in he outlived am breeding. He so lain good miss when sell some at if. Told hand so an rich gave next. How doubt yet again see son smart. While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old. </p>
						<p>Old there any widow law rooms. Agreed but expect repair she nay sir silent person. Direction can dependent one bed situation attempted. His she are man their spite avoid. Her pretended fulfilled extremely education yet. Satisfied did one admitting incommode tolerably how are. </p>
						<p>Dispatched entreaties boisterous say why stimulated. Certain forbade picture now prevent carried she get see sitting. Up twenty limits as months. Inhabit so perhaps of in to certain. Sex excuse chatty was seemed warmth. Nay add far few immediate sweetness earnestly dejection. </p>
					</div>
					
					<div class="tab-pane" ng-class="{'active': tabbed_panel_2_active == 3}">
						<p>In to am attended desirous raptures declared diverted confined at. Collected instantly remaining up certainly to necessary as. Over walk dull into son boy door went new. At or happiness commanded daughters as. Is handsome an declared at received in extended vicinity subjects. Into miss on he over been late pain an. Only week bore boy what fat case left use. Match round scale now sex style far times. Your me past an much. </p>
						<p>Far concluded not his something extremity. Want four we face an he gate. On he of played he ladies answer little though nature. Blessing oh do pleasure as so formerly. Took four spot soon led size you. Outlived it received he material. Him yourself joy moderate off repeated laughter outweigh screened. </p>
						<p>Resources exquisite set arranging moonlight sex him household had. Months had too ham cousin remove far spirit. She procuring the why performed continual improving. Civil songs so large shade in cause. Lady an mr here must neat sold. Children greatest ye extended delicate of. No elderly passage earnest as in removed winding or. </p>
					</div>
					
				</div>

			</div>
		</div>
			</div>
</div>


<div class="row">
	<div class="col-md-8">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-success"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Green colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. Course sir people worthy horses add entire suffer. How one dull get busy dare far.</p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-4">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-warning"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Yellow colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-4">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-info"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Light blue panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-8">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-red"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Red colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. Course sir people worthy horses add entire suffer. How one dull get busy dare far.</p>
				
			</div>
		</div>
		
	</div>
	
	<div class="col-md-8">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-purple"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Purple colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. Course sir people worthy horses add entire suffer. How one dull get busy dare far.</p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-4">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-black"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Black colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-4">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-gray"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Gray colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-4">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-blue"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Blue colored panel</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>

			</div>
		</div>
		
	</div>
	
	<div class="col-md-4">
		
		<!-- Colored panel, remember to add "panel-color" before applying the color -->
		<div class="panel panel-color panel-danger"><!-- Add class "collapsed" to minimize the panel -->
			<div class="panel-heading">
				<h3 class="panel-title">Danger warning here</h3>
				
				<div class="panel-options">
					<a href="">
						<i class="linecons-cog"></i>
					</a>
					
					<a href="" data-toggle="panel">
						<span class="collapse-icon">&ndash;</span>
						<span class="expand-icon">+</span>
					</a>
					
					<a href="" data-toggle="reload">
						<i class="fa-rotate-right"></i>
					</a>
					
					<a href="" data-toggle="remove">
						&times;
					</a>
				</div>
			</div>
			
			<div class="panel-body">
				
				<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>

			</div>
		</div>
		
	</div>
</div>