<h3>Tabs</h3>
<br />

<div class="row">

	<div class="col-md-6">
	
		<tabset>
			<tab heading="Home">
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
				<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>				
			</tab>
			<tab heading="Profile">
				<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
			</tab>
			<tab heading="Messages">
				<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
			</tab>
			<tab heading="Settings">
				<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
			</tab>
		</tabset>
		
	</div>
	
	<div class="col-md-6">	

		<tabset class="right-aligned">
			<tab heading="Home">
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
				<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>				
			</tab>
			<tab heading="Profile">
				<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
			</tab>
			<tab heading="Messages">
				<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
			</tab>
			<tab heading="Settings">
				<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
			</tab>
		</tabset>
		
		<br />

	</div>
</div>

<h3>Justified Tabs</h3>
<br />

<div class="row">

	<div class="col-md-12">
		
		<tabset class="nav-tabs-justified">
			<tab heading="Home">
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
				<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>				
			</tab>
			<tab heading="Profile">
				<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
			</tab>
			<tab heading="Messages">
				<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
			</tab>
			<tab heading="Settings">
				<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>
			</tab>
		</tabset>
		
		
	</div>
</div>


<h3>Accordions</h3>
<br />


<div class="row">

	<div class="col-md-6">
		
		<accordion close-others="true">
			<accordion-group is-open="status1.open" ng-class="{'expanded': status1.open}">
				<accordion-heading>Collapsible Group Item #1</accordion-heading>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
			<accordion-group is-open="status2.open" ng-class="{'expanded': status2.open}">
				<accordion-heading>Collapsible Group Item #2</accordion-heading>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
			<accordion-group is-open="status3.open" ng-class="{'expanded': status3.open}">
				<accordion-heading>Collapsible Group Item #3</accordion-heading>
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
		</accordion>

	</div>

	<div class="col-md-6">
		
		<accordion class="panel-group-joined" close-others="false">
			<accordion-group heading="Collapsible Group Item #1" is-open="status4.open" ng-class="{'expanded': status4.open}">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
			<accordion-group heading="Collapsible Group Item #2" is-open="status5.open" ng-class="{'expanded': status5.open}">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
			<accordion-group heading="Collapsible Group Item #3" is-open="status6.open" ng-class="{'expanded': status6.open}">
				Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			</accordion-group>
		</accordion>
	
	</div>

</div>




<br />


<h3>Vertical Tabs</h3>
<br />



<div class="row">

	<div class="col-md-6">
	
		<div class="tabs-vertical-env" ng-init="vertical_tabs_1 = 1">
		
			<ul class="nav tabs-vertical">
				<li ng-class="{active: vertical_tabs_1 == 1}"><a href="" ng-click="vertical_tabs_1 = 1">Home</a></li>
				<li ng-class="{active: vertical_tabs_1 == 2}"><a href="" ng-click="vertical_tabs_1 = 2">Profile</a></li>
				<li ng-class="{active: vertical_tabs_1 == 3}"><a href="" ng-click="vertical_tabs_1 = 3">Messages</a></li>
				<li ng-class="{active: vertical_tabs_1 == 4}"><a href="" ng-click="vertical_tabs_1 = 4">Settings</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" ng-class="{active: vertical_tabs_1 == 1}">
					<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>				
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_1 == 2}">
					<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_1 == 3}">
					<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_1 == 4}">
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
			</div>

		</div>	
	
	</div>

	<div class="col-md-6">

		<div class="tabs-vertical-env" ng-init="vertical_tabs_2 = 1">
			
			<div class="tab-content">
				<div class="tab-pane" ng-class="{active: vertical_tabs_2 == 1}">
					<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>				
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_2 == 2}">
					<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_2 == 3}">
					<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_2 == 4}">
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
			</div>
		
			<ul class="nav tabs-vertical">
				<li ng-class="{active: vertical_tabs_2 == 1}"><a href="" ng-click="vertical_tabs_2 = 1">Home</a></li>
				<li ng-class="{active: vertical_tabs_2 == 2}"><a href="" ng-click="vertical_tabs_2 = 2">Profile</a></li>
				<li ng-class="{active: vertical_tabs_2 == 3}"><a href="" ng-click="vertical_tabs_2 = 3">Messages</a></li>
				<li ng-class="{active: vertical_tabs_2 == 4}"><a href="" ng-click="vertical_tabs_2 = 4">Settings</a></li>
			</ul>
			
		</div>

	</div>

</div>




<h3>Bordered Vertical Tabs</h3>
<br />

<div class="row">

	<div class="col-md-6">
	
		<div class="tabs-vertical-env tabs-vertical-bordered right-aligned" ng-init="vertical_tabs_3 = 1"><!-- add class "right-aligned" for the right aligned tabs -->
			
			<div class="tab-content">
				<div class="tab-pane" ng-class="{active: vertical_tabs_3 == 1}">
					<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>				
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_3 == 2}">
					<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_3 == 3}">
					<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_3 == 4}">
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
			</div>
		
			<ul class="nav tabs-vertical">
				<li ng-class="{active: vertical_tabs_3 == 1}"><a href="" ng-click="vertical_tabs_3 = 1">Home</a></li>
				<li ng-class="{active: vertical_tabs_3 == 2}"><a href="" ng-click="vertical_tabs_3 = 2">Profile</a></li>
				<li ng-class="{active: vertical_tabs_3 == 3}"><a href="" ng-click="vertical_tabs_3 = 3">Messages</a></li>
				<li ng-class="{active: vertical_tabs_3 == 4}"><a href="" ng-click="vertical_tabs_3 = 4">Settings</a></li>
			</ul>
			
		</div>	
	
	</div>

	<div class="col-md-6">
	
		<div class="tabs-vertical-env tabs-vertical-bordered" ng-init="vertical_tabs_4 = 1"><!-- add class "right-aligned" for the right aligned tabs -->
		
			<ul class="nav tabs-vertical">
				<li ng-class="{active: vertical_tabs_4 == 1}"><a href="" ng-click="vertical_tabs_4 = 1">Home</a></li>
				<li ng-class="{active: vertical_tabs_4 == 2}"><a href="" ng-click="vertical_tabs_4 = 2">Profile</a></li>
				<li ng-class="{active: vertical_tabs_4 == 3}"><a href="" ng-click="vertical_tabs_4 = 3">Messages</a></li>
				<li ng-class="{active: vertical_tabs_4 == 4}"><a href="" ng-click="vertical_tabs_4 = 4">Settings</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane" ng-class="{active: vertical_tabs_4 == 1}">
					<p>Carriage quitting securing be appetite it declared. High eyes kept so busy feel call in. Would day nor ask walls known. But preserved advantage are but and certainty earnestly enjoyment. Passage weather as up am exposed. And natural related man subject. Eagerness get situation his was delighted. </p>				
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_4 == 2}">
					<p>Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am. Placing forming nay looking old married few has. Margaret disposed add screened rendered six say his striking confined. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_4 == 3}">
					<p>When be draw drew ye. Defective in do recommend suffering. House it seven in spoil tiled court. Sister others marked fat missed did out use. Alteration possession dispatched collecting instrument travelling he or on. Snug give made at spot or late that mr. </p>
				</div>
				<div class="tab-pane" ng-class="{active: vertical_tabs_4 == 4}">
					<p>Luckily friends do ashamed to do suppose. Tried meant mr smile so. Exquisite behaviour as to middleton perfectly. Chicken no wishing waiting am. Say concerns dwelling graceful six humoured. Whether mr up savings talking an. Active mutual nor father mother exeter change six did all. </p>
				</div>
			</div>
			
		</div>	
	
	</div>

</div>
